@{
    Layout = null;
}
@model User;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>

<body>
    <section class="login">
        <div class="login-box">
            <h2>Glosys</h2>
            <div class="login-top">
                <div class="login-bottom">
                    <h3>Welcome back!</h3>
                    <p>Enter your email and password to access your account</p>
                    <form asp-controller="admin" asp-action="login" method="post" class="login-item">
                        <div class="input-form">
                            <label for="UserNickName" class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                </svg>
                            </label>
                            <label for="UserNickName" class="placeholder">Nickname</label>
                            <input class="form-item" asp-for="UserNickName"/>
                        </div>
                        <div class="input-form">
                            <label for="UserPassword" class="icon">
                                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="lock-password-svgrepo-com 1">
                                        <path id="Vector" d="M6.75 12.5C6.75 12.9142 6.41422 13.25 6 13.25C5.58579 13.25 5.25 12.9142 5.25 12.5C5.25 12.0858 5.58579 11.75 6 11.75C6.41422 11.75 6.75 12.0858 6.75 12.5Z" fill="#7C9AAE" />
                                        <path id="Vector_2" d="M9.75 12.5C9.75 12.9142 9.41422 13.25 9 13.25C8.58577 13.25 8.25 12.9142 8.25 12.5C8.25 12.0858 8.58577 11.75 9 11.75C9.41422 11.75 9.75 12.0858 9.75 12.5Z" fill="#7C9AAE" />
                                        <path id="Vector_3" d="M12 13.25C12.4142 13.25 12.75 12.9142 12.75 12.5C12.75 12.0858 12.4142 11.75 12 11.75C11.5858 11.75 11.25 12.0858 11.25 12.5C11.25 12.9142 11.5858 13.25 12 13.25Z" fill="#7C9AAE" />
                                        <path id="Vector_4" fill-rule="evenodd" clip-rule="evenodd" d="M3.9375 6.5V7.47708C3.76738 7.48904 3.60704 7.50461 3.45619 7.52489C2.78111 7.61565 2.2127 7.80982 1.76126 8.26122C1.30982 8.71272 1.11566 9.28107 1.02489 9.95615C0.93747 10.6064 0.937485 11.4331 0.9375 12.4588V12.5412C0.937485 13.5669 0.93747 14.3936 1.02489 15.0438C1.11566 15.7189 1.30982 16.2873 1.76126 16.7387C2.2127 17.1902 2.78111 17.3844 3.45619 17.4751C4.10642 17.5625 4.93316 17.5625 5.95885 17.5625H12.0412C13.0669 17.5625 13.8936 17.5625 14.5438 17.4751C15.2189 17.3844 15.7873 17.1902 16.2388 16.7387C16.6902 16.2873 16.8844 15.7189 16.9751 15.0438C17.0625 14.3936 17.0625 13.5669 17.0625 12.5412V12.4588C17.0625 11.4331 17.0625 10.6064 16.9751 9.95615C16.8844 9.28107 16.6902 8.71272 16.2388 8.26122C15.7873 7.80982 15.2189 7.61565 14.5438 7.52489C14.3929 7.50461 14.2326 7.48904 14.0625 7.47708V6.5C14.0625 3.70406 11.7959 1.4375 9 1.4375C6.20406 1.4375 3.9375 3.70406 3.9375 6.5ZM9 2.5625C6.82538 2.5625 5.0625 4.32538 5.0625 6.5V7.44008C5.34262 7.43749 5.64114 7.43749 5.95874 7.4375H12.0412C12.3587 7.43749 12.6574 7.43749 12.9375 7.44008V6.5C12.9375 4.32538 11.1746 2.5625 9 2.5625ZM3.60609 8.63982C3.05576 8.71385 2.76433 8.84915 2.55676 9.05675C2.34919 9.26435 2.21385 9.55572 2.13986 10.1061C2.06369 10.6726 2.0625 11.4234 2.0625 12.5C2.0625 13.5765 2.06369 14.3274 2.13986 14.8939C2.21385 15.4443 2.34919 15.7356 2.55676 15.9432C2.76433 16.1508 3.05576 16.2861 3.60609 16.3602C4.1726 16.4363 4.92344 16.4375 6 16.4375H12C13.0765 16.4375 13.8274 16.4363 14.3939 16.3602C14.9443 16.2861 15.2356 16.1508 15.4432 15.9432C15.6508 15.7356 15.7861 15.4443 15.8602 14.8939C15.9363 14.3274 15.9375 13.5765 15.9375 12.5C15.9375 11.4234 15.9363 10.6726 15.8602 10.1061C15.7861 9.55572 15.6508 9.26435 15.4432 9.05675C15.2356 8.84915 14.9443 8.71385 14.3939 8.63982C13.8274 8.5637 13.0765 8.5625 12 8.5625H6C4.92344 8.5625 4.1726 8.5637 3.60609 8.63982Z" fill="#7C9AAE" />
                                    </g>
                                </svg>
                            </label>
                            <label class="placeholder" for="UserPassword">Password</label>
                            <input class="form-item" asp-for="UserPassword" />
                            <label for="UserPassword" class="lock icon">
                                <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="eye-closed-svgrepo-com 1" clip-path="url(#clip0_265_1355)">
                                        <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M17.1505 0.996065C17.4519 1.12524 17.5915 1.4743 17.4623 1.7757L16.9166 1.54181C17.4623 1.7757 17.4624 1.77556 17.4623 1.7757L17.4618 1.77703L17.4609 1.779L17.4584 1.78483L17.4499 1.80388C17.4428 1.81983 17.4327 1.84216 17.4195 1.87041C17.3932 1.9269 17.3547 2.00711 17.3036 2.10719C17.2016 2.3072 17.0493 2.58735 16.8441 2.91651C16.5072 3.45725 16.024 4.13658 15.3823 4.81156L16.149 5.57813C16.3808 5.81001 16.3808 6.18597 16.149 6.41785C15.9171 6.64973 15.5411 6.64973 15.3092 6.41785L14.5171 5.62571C13.9948 6.06326 13.3959 6.4739 12.7169 6.81131L13.456 7.94719C13.6348 8.22198 13.557 8.58979 13.2821 8.76862C13.0072 8.94746 12.6394 8.86964 12.4606 8.59477L11.5983 7.2696C10.9814 7.47108 10.3134 7.60804 9.59365 7.65712V9.06265C9.59365 9.39056 9.32781 9.6564 8.9999 9.6564C8.67199 9.6564 8.40615 9.39056 8.40615 9.06265V7.65712C7.70869 7.60955 7.05968 7.47947 6.45859 7.28805L5.60828 8.59485C5.42944 8.86972 5.06165 8.94754 4.78679 8.7687C4.51194 8.58987 4.4341 8.22206 4.61294 7.94719L5.33527 6.83712C4.65096 6.50287 4.04716 6.09406 3.5204 5.65706L2.75962 6.41785C2.52775 6.64973 2.15181 6.64973 1.91993 6.41785C1.68806 6.18597 1.68806 5.81009 1.91993 5.57821L2.65125 4.84687C1.99847 4.16627 1.50705 3.47867 1.16467 2.93092C0.956521 2.59792 0.801956 2.3142 0.698469 2.11156C0.646694 2.01018 0.607602 1.92889 0.580899 1.87165C0.567543 1.84302 0.557275 1.82038 0.550055 1.80423L0.541513 1.78493L0.538948 1.77903L0.538085 1.77704L0.537761 1.77629C0.537705 1.77615 0.537507 1.7757 1.08325 1.54181L0.537761 1.77629C0.408592 1.47488 0.547957 1.12524 0.849361 0.996065C1.15052 0.867 1.49925 1.00629 1.62868 1.30717C1.62863 1.30707 1.62872 1.30728 1.62868 1.30717L1.62943 1.30891L1.63424 1.31977C1.63891 1.33021 1.64651 1.34699 1.65705 1.36961C1.67816 1.41486 1.71107 1.48342 1.75604 1.57148C1.84605 1.74772 1.98393 2.00119 2.17163 2.30149C2.54816 2.90386 3.11914 3.68492 3.89817 4.40892C4.58368 5.04597 5.4237 5.63283 6.42837 6.01932C7.18401 6.31002 8.03842 6.48973 8.9999 6.48973C9.98291 6.48973 10.8541 6.30195 11.6223 5.99953C12.6209 5.60647 13.4552 5.01581 14.1352 4.37757C14.9028 3.65712 15.4654 2.88381 15.8363 2.28852C16.0213 1.99172 16.157 1.74152 16.2457 1.56767C16.29 1.48082 16.3224 1.41322 16.3432 1.36863C16.3536 1.34634 16.3611 1.32982 16.3657 1.31954L16.3704 1.30887L16.3709 1.30792C16.3708 1.308 16.3709 1.30785 16.3709 1.30792M17.1505 0.996065C16.8491 0.866929 16.5001 1.00667 16.3709 1.30792L17.1505 0.996065ZM1.62868 1.30717C1.62863 1.30707 1.62872 1.30728 1.62868 1.30717V1.30717Z" fill="#82959E" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_265_1355">
                                            <rect width="18" height="10" fill="white" transform="translate(0 0.5)" />
                                        </clipPath>
                                    </defs>
                                </svg>

                            </label>
                        </div>
                        <a href="">Forgot Password?</a>
                        <button>Login <i class="fa-solid fa-right-to-bracket"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/site.js"></script>
</body>

</html>