<section class="about-page sliders">
    <div class="container">
        <div class="media-filter">
            <a href="/home/about" catId="0" style="padding: 12px 25px" class="btn-gray btn-gray-active filter-item">
                All
            </a>
            
        </div>
        <div class="title">
            <h2>ABOUT</h2>
        </div>
        <div class="filter">
            <a href="/home/about" catId="0" style="padding: 12px 25px" class="btn-gray btn-gray-active filter-item">
                All
            </a>
            
        </div>
        <div class="bottom product-lists">
            <div class="about-item">
                <h3>Data Center Infrastructure Products</h3>
                <p>With ever-increasing data center (DC) size and complexity, DC managers and IT professionals require the right configurations and equipment to meet their specific environment needs, as well as remote management solutions that enable them to quickly and effectively access servers, network devices, and other mission-critical equipment.</p>
                <p>These products are not only vital to run the system efficiently, but can also contribute to an overall strategy that saves your company money. With a vendor independent approach, the experts at GloSys can review your specific environment and help you find the best infrastructure solutions for your data center, server room, computer closet, or server rack.</p>
            </div>
        </div>
        <div class="bottom-media product-lists">
        </div>
    </div>
</section>