<section class="contacts">
    <div class="container">
        <div class="left">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5287.217059079478!2d49.862188761449545!3d40.421253163565495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403087f677d680c7%3A0x76330b0106f785c4!2sMinera%20Plaza!5e0!3m2!1sru!2saz!4v1747214131424!5m2!1sru!2saz"
                    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="right">
            <h1>Contact Us</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
            </p>
            <ul>
                <li>
                    <div class="icon">
                        <img src="~/img/location-blue.svg" alt="">
                    </div>
                    <div>
                        <h3>Address</h3>
                        <p>
                            Ziya bunyadov prospekti 90
                            Minera plaza , 4/2
                        </p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="~/img/phone-blue.svg" alt="">
                    </div>
                    <div>
                        <h3>Phone</h3>
                        <p>
                            +994125001280
                        </p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="~/img/email-blue.svg" alt="">
                    </div>
                    <div>
                        <h3>Email</h3>
                        <p>info@glosys.az</p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img src="~/img/website-blue.svg" alt="">
                    </div>
                    <div>
                        <h3>Website</h3>
                        <p><a href="">www.glosys.az</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>