<section class="contacts">
        <div class="container">
            <div class="left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.735688878333!2d49.85662227552761!3d40.41470575576331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403087fef0e167f9%3A0x2d47dbedc1eea9e7!2sChinar%20Park!5e0!3m2!1sru!2saz!4v1722795688472!5m2!1sru!2saz"
                    width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="right">
                <h1>Contact Us</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>
                <ul>
                    <li>
                        <div class="icon">
                            <img src="img/location-blue.svg" alt="">
                        </div>
                        <div>
                            <h3>Address</h3>
                            <p>AZ1010, Baku, Azerbaijan
                                Ahmad Rajabli, Chinar Park, 1/69</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="img/phone-blue.svg" alt="">

                        </div>
                        <div>
                            <h3>Phone</h3>
                            <p>+994125001280 <br>
                                +994552101280</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="img/email-blue.svg" alt="">

                        </div>
                        <div>
                            <h3>Email</h3>
                            <p>info@glosys.az</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <img src="img/website-blue.svg" alt="">

                        </div>
                        <div>
                            <h3>Website</h3>
                            <p><a href="">www.glosys.az</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>