    </nav>
<section class="products sliders">
    <div class="container">
        <div class="title">
            <h2>PROJECTS</h2>
        </div>
        <div class="filter">
            <a class="btn-gray btn-grat-active" href="">All</a>
            <a class="btn-gray" href="">Category 1</a>
            <a class="btn-gray" href="">Category 2</a>
            <a class="btn-gray" href="">Category 3</a>
            <a class="btn-gray" href="">Category 4</a>
            <a class="btn-gray" href="">Category 5</a>
            <a class="btn-gray" href="">Category 6</a>
        </div>
        <div class="bottom">
            <div class="box">
                <div class="product-card">
                    <div class="card-image">
                        <img src="img/product-img.png" alt="Product Image">
                    </div>
                    <div class="card-text">
                        <h3>Project №1</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="card-btn">
                        <a class="btn btn-medium btn-blue" href="">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>