<section class="services sliders">
    <div class="container">
        <div class="title">
            <h2>SERVICES</h2>
        </div>
        <div class="bottom service-list">
            <div class="box">
                <div class="service-card">
                    <div class="card-image">
                        <img src="/img/cloud-check-icon.png" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Glosys IT Support (Outsourcing) Services Overview</h3>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="service-card">
                    <div class="card-image">
                        <img src="/img/cloud-check-icon.png" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Glosys IT Support (Outsourcing) Services Overview</h3>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="service-card">
                    <div class="card-image">
                        <img src="/img/cloud-check-icon.png" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Glosys IT Support (Outsourcing) Services Overview</h3>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="service-card">
                    <div class="card-image">
                        <img src="/img/cloud-check-icon.png" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Glosys IT Support (Outsourcing) Services Overview</h3>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="service-card">
                    <div class="card-image">
                        <img src="/img/cloud-check-icon.png" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Glosys IT Support (Outsourcing) Services Overview</h3>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="service-card">
                    <div class="card-image">
                        <img src="/img/cloud-check-icon.png" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Glosys IT Support (Outsourcing) Services Overview</h3>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="service-card">
                    <div class="card-image">
                        <img src="/img/cloud-check-icon.png" alt="">
                    </div>
                    <div class="card-text">
                        <h3>Glosys IT Support (Outsourcing) Services Overview</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>