* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body {
    background-color: #F8FAFC;
}

.container {
    width: 90%;
    margin: auto;
}

.validation {
    color: red !important;
    font-size: 14px;
    position: relative;
}

.add-product .validation {
    text-align: left !important;
    display: block;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    display: inline-flex !important;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;
}

.btn-small {
    border-radius: 12px;
    padding: 8.5px 8px;
}

.btn-medium {
    border-radius: 12px;
    padding: 8px 12px;
}

.btn-big {
    padding: 10px 20px;
    border-radius: 16px;
}

.btn-blue {
    border: 1px solid #22C3F3;
    background-color: #22C3F3;
    color: white;
    transition: .3s;
}

    .btn-blue:hover, .nav-scrolled .logout:hover, .modal .modal-title button:hover {
        background-color: #0A4F7D;
        border-color: #0A4F7D;
        color: white;
        box-shadow: 0px 4px 10px 0px #45AFCE40;
        transition: .3s;
    }

.nav-scrolled .logout:hover {
    background: linear-gradient( #0A4F7D 0%, #0A4F7D 0%);
    transition: 0s !important;
}

.btn-gray {
    padding-right: 25px;
    border-radius: 12px;
    background-color: #EEF1F6;
    color: #96A7B1;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}

    .btn-gray a, .btn-gray span {
        padding: 12px 0 12px 25px;
        color: #96A7B1;
    }



.btn-add-cat {
    background-color: #DAF2FA;
    border: 0;
    padding: 12px 25px;
    font-weight: 700;
    border-radius: 12px;
    font-size: 14px;
    color: #22C3F3;
    transition: .3s;
}

    .btn-add-cat:hover {
        transition: .3s;
        color: white;
        background: #22C3F3;
        box-shadow: 0px 4px 8px 0px rgba(87, 135, 167, 0.15);
    }

.btn-gray-active {
    background-color: white !important;
    color: #002E4C !important;
    box-shadow: 0px 4px 8px 0px #5787A726 !important;
}

    .btn-gray-active a {
        color: #002E4C !important;
    }


img {
    vertical-align: middle;
}

.dropdown {
    display: none;
    position: absolute;
    left: 0;
    min-width: 100%;
    top: 100%;
    transition: 0.5s;
    padding-top: 22px;
    z-index: 10;
}

    .dropdown ul {
        background-color: white;
        border-radius: 8px;
        padding: 8px 0;
        list-style: none;
    }

.dropdown-item {
    padding: 10px 20px;
    color: #A1AEB6;
    display: block;
    white-space: nowrap;
    font-weight: 600;
}

    .dropdown-item:hover {
        background-color: #F2F7FA;
        color: #22C3F3;
    }

.dropdown-active {
    color: #002E4C !important;
    background-color: #F2F7FA;
}

.show-dropdown .dropdown {
    display: block;
}

.show-dropdown .fa-angle-down {
    transform: rotate(180deg);
}

.fa-angle-down {
    transition: 0.3s;
}
/* NAV */
nav {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 99;
}

.nav-scrolled {
    background-color: white;
    box-shadow: 0px 4px 28px 0px #6D90A82B;
}

nav .container {
    display: flex;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-right: auto;
}
    .nav-left .logo{
        width: 100px;
    }

    .nav-menu {
        display: flex;
        gap: 10px;
        list-style: none;
    }

.nav-item {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    color: white;
}

nav .fa-angle-down {
    font-size: 13px;
    margin-top: 3px;
    transition: 0.5s;
}

.nav-scrolled .nav-item,
.nav-scrolled .nav-link,
.nav-scrolled .nav-right .lang span, .nav-scrolled .nav-right input {
    color: #002E4C;
}

.solutions {
    position: relative;
}

    .solutions:hover {
        color: #22C3F3;
        transition: 0.5s;
    }

        .solutions:hover .dropdown {
            display: block;
        }

        .solutions:hover .fa-angle-down {
            transform: rotate(180deg);
        }

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

    .nav-right label {
        position: relative;
        display: flex;
        align-items: center;
        border: 0;
        padding: 8px 10px 8px 10px;
        border-bottom: 1px solid #FFFFFF;
        gap: 20px;
        color: white;
        font-weight: 600;
    }

.nav-scrolled .nav-right label {
    color: #002E4C;
    border-bottom: 1px solid #002E4C
}

.nav-right label span {
    font-size: 16px;
    left: 36px;
    position: absolute;
    transition: 0.5s;
}

.nav-right input {
    border: 0;
    opacity: 0;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 0.5s;
    font-size: 16px;
}

.nav-right .lang span {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    color: white;
    font-weight: 600;
}

.nav-right .lang {
    position: relative;
}

    .nav-right .lang .dropdown-item {
        text-align: center;
    }

.nav-scrolled .logout {
    background: linear-gradient(259deg, #22C3F3 9.85%, #006AB0 99.47%);
    box-shadow: 0px 4px 10px 0px rgba(0, 168, 240, 0.35);
}

.logout {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 16px;
    background-color: transparent;
    color: white;
    font-weight: 600;
}

.nav-right-media {
    height: 46px;
    width: 46px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: white;
}
/* NAV END */

/* HEADER */
.header-box {
    background-image: url(/img/glosys-bg-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 7/3;
}

header .swiper {
    width: 100%;
    height: 100%;
    color: white;
}

header .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
}

header .swiper img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

header .navigation {
    z-index: 5;
    width: 20px;
    transform: translateY(-50%);
    top: 50%;
    right: 30px;
    position: absolute;
    color: #A1AEB6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header .swiper-button-next, header .swiper-button-prev {
    position: unset;
    color: #A1AEB6;
    transform: rotate(90deg);
}

header .swiper-button-next {
    margin-top: unset;
}

    header .swiper-button-next::after, header .swiper-button-prev::after {
        font-size: 30px;
    }

header .navigation-item {
    margin: 20px 0;
    width: 1px;
    height: 100px;
    background-color: #A1AEB6;
}
/* HEADER END */
section, footer {
    color: #002E4C !important;
}
footer .logo{
    width: 250px
}

/* ABOUT */
.about {
    padding: 50px 0;
}

    .about .container {
        display: flex;
        gap: 30px;
    }

.about-left {
    padding: 20px;
    width: 66%;
}

    .about-left h2 {
        font-size: 44px;
        font-weight: 800;
        margin-bottom: 30px;
    }

        .about-left h2 span {
            color: #22C3F3;
        }

    .about-left p {
        font-size: 18px;
        font-weight: 500;
    }

.about-right {
    position: relative;
    width: calc(34% - 30px);
}

    .about-right img {
        position: absolute;
        z-index: 5;
    }

    .about-right .ellipse {
        top: -60px;
        left: 40px;
    }

    .about-right .person-with-vr {
        width: 500px;
        top: -120px;
        left: -15px;
    }

/* ABOUT END */

/* SLIDERS */
.sliders .title h2 {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
}

.sliders .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: unset;
}


.sliders .swiper-button-next, .sliders .swiper-button-prev {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #22C3F3;
    transform: translateY(-50%);
    z-index: 90;
}

.sliders .swiper-button-next {
    right: -30px;
}

.sliders .swiper-button-prev {
    left: -30px;
}

    .sliders .swiper-button-next::after, .sliders .swiper-button-prev::after {
        display: none;
    }
/* SLIDERS END */


.home-products {
    padding-top: 30px;
}

    .home-products .swiper-wrapper {
        padding: 50px 20px 100px;
    }

    .home-products .bottom, .home-services .bottom {
        position: relative;
    }

.bottom-media {
    display: none;
}
/* PRODUCT CARD */
.product-card {
    transition: .5s;
    background-color: white;
    padding: 30px;
    border-radius: 16px;
}

    .product-card .card-image {
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .product-card .card-image img {
            max-width: 100%;
            max-height: 100%;
        }

    .product-card .card-text,
    .product-card .card-image {
        margin-bottom: 20px;
    }

        .product-card .card-text h3 {
            height: 24px;
            overflow: hidden;
            margin-bottom: 10px;
            font-weight: 800;
        }

.card-btn {
    display: flex;
    align-items: center;
}

.product-card .card-text p {
    height: 36px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #002e4c;
    font-size: 14px;
}

.product-card:hover {
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0px 36px 59px 0px #2368972B;
}

/* PRODUCT CARD END */



.home-services .swiper-wrapper {
    padding: 50px 32px 100px;
}

.home-services .swiper-slide {
    width: 20% !important;
}


/* SERVICE CARD */

.service-card {
    transition: .5s;
    background-color: white;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
}

    .service-card:hover {
        transition: .5s;
        transform: scale(1.2);
        background-color: #22C3F3;
        box-shadow: 0px 29px 67px 0px #22C3F37D;
    }

    .service-card .card-image {
        border-radius: 100%;
        padding: 35px;
        background-color: #DAF2FA;
        display: inline-block;
        margin-bottom: 35px;
    }

        .service-card .card-image img {
            width: 50px;
        }

    .service-card .card-text h3 {
        font-weight: 800;
        font-size: 18px;
        transition: .5s;
    }

    .service-card:hover h3 {
        color: white;
    }

/* SERVICE CARD END */

/* PARTNERS */

.home-partners .swiper-wrapper {
    padding: 30px 0 0;
    align-items: center;
}

.bank-partners .swiper-wrapper {
    padding: 0 0 50px;
}

.home-partners .swiper-slide {
    padding: 20px 50px;
    position: relative;
}

.bank-partners .swiper-slide {
    padding: 0 50px 20px;
}

.home-partners img {
    width: 100%;
}
/*    .home-partners .swiper-slide img {
        transition: .5s;
    }

        .home-partners .swiper-slide img:last-of-type {
            position: absolute;
            top: 40px;
            left: 50px;
            opacity: 0;
        }

    .home-partners .swiper-slide:hover img:last-of-type {
        opacity: 1;
        transition: .5s;
    }

    .home-partners .swiper-slide:hover img:first-of-type {
        opacity: 0;
        transition: .3s;
    }*/
/* PARTNERS END */
/* home-contacts */
.home-contacts-box {
    width: 100%;
    padding-top: 50px;
    background: linear-gradient(84.15deg, #022E4A 2.35%, #055585 50.25%, #22C3F3 97.65%);
    color: white !important;
}

.home-contacts .title {
    margin-bottom: 30px;
    text-align: center;
}

.home-contacts .bottom {
    padding: 20px 0 60px;
    width: 82%;
    gap: 35px;
    margin: auto;
    display: flex;
    align-items: center;
}

.home-contacts .item {
    text-align: center;
    padding: 20px;
    width: calc((100% - 105px)/4);
}

    .home-contacts .item h3 {
        font-size: 24px;
        margin: 15px 0 10px;
    }

    .home-contacts .item p {
        font-size: 14px;
    }

.home-contacts iframe {
    width: 100%;
    vertical-align: middle;
    height: unset;
    aspect-ratio: 4 / 1;
}

/* home-contacts end */

/* FOOTER */

footer .top {
    background-color: white;
    padding: 50px 0;
}

footer .container {
    display: flex;
    align-items: center;
}

footer .left,
footer .right {
    width: 50%;
    padding: 20px;
}

footer .right {
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    font-weight: 500;
}

footer li {
    padding: 6px 20px;
}

footer h3 {
    padding: 20px;
    font-size: 20px;
}

footer .left ul {
    margin: 30px 0;
}

    footer .left ul strong {
        margin-right: 10px;
    }

footer a {
    color: #002E4C;
}

footer .icons {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
}

    footer .icons li {
        padding: 8px;
    }

    footer .icons a {
        display: flex;
        align-items: center;
    }

footer .bottom {
    color: #A1AEB6;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

.media-menu {
    display: none;
}
/* FOOTER END */
/* PRODUCTS, SERVICES */

.products, .services, .gallery, .projects, .about-page {
    padding: 120px 0 50px;
}

    .products .bottom,
    .projects .bottom,
    .services .bottom,
    .gallery .bottom {
        padding: 50px 50px 100px;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
    }

    .gallery .bottom, .about-page .bottom {
        padding: 50px 0 100px;
    }

    .products .box,
    .projects .box,
    .services .box {
        width: calc((100% - 120px)/4);
        display: flex;
        align-items: center;
        justify-content: center;
    }

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
}

.media-filter {
    display: none;
}

.btn-gray .fa-xmark {
    margin-left: 15px;
    margin-top: 2px;
    z-index: 5;
    position: relative;
    transition: .3s;
}

.fa-xmark:hover {
    color: #EA004A;
    transition: .3s;
}
/* PRODUCTS, SERVICES END */
/*  PRODUCT-INFO, CONTACTS */
.product-info,
.contacts {
    padding: 120px 0;
}

    .product-info .container,
    .contacts .container {
        display: flex;
    }

    .product-info .photos {
        display: flex;
        width: 42%;
        aspect-ratio: 3 / 2;
        height: fit-content;
        padding: 20px 50px;
    }

    .product-info .big-photo {
        width: 77%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .product-info .big-photo img {
            max-width: 100%;
            max-height: 100%;
        }

    .product-info .mini-photos {
        padding: 0 15px;
        width: 23%;
        height: 100%;
        overflow-y: scroll;
    }

        .product-info .mini-photos::-webkit-scrollbar {
            width: 3px;
        }

        .product-info .mini-photos::-webkit-scrollbar-track {
            background: transparent;
        }

        .product-info .mini-photos::-webkit-scrollbar-thumb {
            background: #c1c1c1;
            border-radius: 10px;
        }

            .product-info .mini-photos::-webkit-scrollbar-thumb:hover {
                background: #adadad;
            }

        .product-info .mini-photos .item {
            padding: 23px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            aspect-ratio: 2 / 3;
        }

        .product-info .mini-photos .selected-photo {
            background-color: white;
            box-shadow: 0px 4px 17px 0px #6D90A826;
        }

        .product-info .mini-photos .item:not(:last-of-type) {
            margin-bottom: 10px;
        }

        .product-info .mini-photos img {
            max-width: 100%;
            max-width: 100%;
        }

    .product-info .info {
        padding: 20px;
        width: 58%;
    }

    .product-info h1,
    .contacts h1 {
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 45px;
    }

    .product-info p,
    .contacts p {
        font-weight: 500;
        margin-bottom: 45px;
    }

    .product-info li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        color: #96A7B1;
        background-color: #EEF1F6;
        border-radius: 12px;
        font-size: 14px;
        font-weight: 600;
    }

        .product-info li:not(:last-of-type) {
            margin-bottom: 15px;
        }

    .contacts .left {
        padding: 20px 0;
        width: 47%;
        display: flex;
        align-items: center;
    }

    .contacts .right {
        width: 53%;
        padding: 20px 30px 20px 80px;
    }

    .contacts .left iframe {
        width: 100%;
        height: unset;
        aspect-ratio: 5/3;
    }

    .contacts ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        justify-content: center;
        gap: 45px;
    }

    .contacts li {
        width: 43%;
        display: flex;
        gap: 20px;
    }

        .contacts li h3 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .contacts li p, .contacts li a {
            color: #96A7B1;
            margin: 0;
        }

/*  PRODUCT-INFO, CONTACTS END */

/* ADMIN PRODUCTS */

.admin-products .filter, .admin-projects .filter, .admin-gallery .filter {
    justify-content: unset;
    flex-wrap: wrap;
}

.admin-products .title,
.admin-projects .title,
.admin-services .title,
.admin-gallery .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-services .service-card .card-btn {
    justify-content: center;
    margin-top: 20px;
}

/*.admin-services .box {
    height: 22vw;
}*/

.btn-remove {
    background-color: #fdecf1;
    border: 1px solid #fdecf1;
    transition: .3s;
    color: #EA004A;
}

    .btn-remove:hover {
        color: white;
        border-color: #EA004A;
        background-color: #EA004A;
        transition: .3s;
    }

.btn-edit {
    background-color: #EDFAF7;
    border: 1px solid #EDFAF7;
    margin-right: 10px;
    color: #01BF91;
    transition: .3s;
}

    .btn-edit:hover {
        background-color: #01BF91;
        border-color: #01BF91;
        color: white;
        transition: .3s;
    }

.product-card .btn-edit {
    margin-left: auto;
}



/* MODAL */
.modal-fon {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.dlt-modal {
    text-align: center;
}

.modal {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 30px;
    width: 28%;
}

.dlt-modal h3 {
    font-size: 20px;
    margin: 30px 0 20px;
}

.modal .modal-btns {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.dlt-modal .modal-btns button {
    padding: 10px 20px 10px 20px;
    gap: 15px;
    border: 0;
    border-radius: 16px;
    width: 50%;
    justify-content: center;
    font-weight: 600 !important;
    transition: .3s;
}

.btn-cancel {
    background-color: #EEF1F6;
}

    .btn-cancel:hover {
        transition: .3s;
        background: #7C9AAE;
        color: white;
    }

.btn-remove-md {
    color: white;
    background-color: #EA004A;
    box-shadow: 0px 4px 10px 0px #EA004A59;
}

    .btn-remove-md:hover {
        background: #8F002D;
        transition: .3s;
    }

.modal .btn-big {
    margin-left: auto;
}

.modal .modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

    .modal .modal-title button {
        background-color: #F8FAFC;
        border-radius: 12px;
        padding: 12px;
        color: #7C9AAE;
        border: none;
        transition: 0.3s;
    }

.input-form {
    margin-bottom: 30px;
    position: relative;
}

    .input-form .form-item, .input-form select, .input-form .select-cat, .add-product-photo, .add-gallery-photo, .add-project-photo {
        width: 100%;
        padding: 10px 15px;
        border-radius: 16px;
        background-color: #F7F7F8;
        border: 1px solid #F7F7F8;
        outline: none;
        font-size: 16px;
        color: #0A4F7D;
    }

    .input-form .select-cat {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input-form .placeholder {
        font-size: 16px;
        top: 10px;
        /*        transform: translateY(-50%);*/
        left: 15px;
        position: absolute;
        color: #7C9AAE;
        transition: 0.3s;
    }



    .input-form input:focus, .input-form textarea:focus {
        border: 1px solid #0A4F7D;
        background-color: white;
    }

.input-focus {
    border: 1px solid #C9DAE5 !important;
    background-color: white !important;
}

.placeholder-focus {
    top: -10px !important;
    left: 23px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    background-color: white !important;
    color: #0A4F7D !important;
    transition: 0.3s;
}

.placeholder-active {
    top: -10px !important;
    left: 23px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    background-color: white !important;
    color: #7C9AAE !important;
    transition: 0.3s;
}
/* ADMIN PRODUCTS END */
/*LOGIN, ADD PRODUCT*/
.login {
    background-image: url(/img/glosys-bg-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-box {
    width: 35%;
    text-align: center;
}


.login h2 {
    color: white;
    font-weight: 700;
    font-size: 43px;
    text-transform: uppercase;
}

.login-top {
    margin-top: 30px;
    border-radius: 16px;
    border: 10px solid rgba(34, 195, 243, 0.26);
    box-shadow: 0px 12px 45px 0px #0587B9;
}

.login-bottom {
    width: 100%;
    padding: 50px;
    background: #FFF;
    border-radius: 6px;
}

.login h3 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 600;
}

.login p {
    color: #7C9AAE;
}

.login form {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

    .login form > * {
        width: 100%;
    }

.login .input-form {
    margin: 0;
}

.login form a {
    width: fit-content;
    color: #22C3F3;
    margin-left: auto;
}

.login form button {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 16px;
    background: #22C3F3;
    box-shadow: 0px 4px 10px 0px rgba(69, 175, 206, 0.25);
    border: 0;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.login input {
    padding-left: 60px !important;
    padding-right: 33px !important;
}

.login .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #7C9AAE;
    background-color: white;
}

.login .lock {
    left: unset;
    right: 15px;
    background-color: unset;
}

.login .input-form .placeholder {
    left: 60px;
}

.add-product, .add-project {
    background-image: url(/img/glosys-bg-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .add-product .dropdown ul, .add-project .dropdown ul {
        background-color: rgb(247, 247, 248);
        text-align: left;
    }

    .add-product h2, .add-project h2 {
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

.add-product-box, .add-project-box {
    width: 40%;
    text-align: center;
    padding: 50px;
    background: #FFF;
    border-radius: 16px;
}

    .add-product-box button, .add-project-box button {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 13px;
        border-radius: 16px;
        background: #22C3F3;
        box-shadow: 0px 4px 10px 0px rgba(69, 175, 206, 0.25);
        border: 0;
        color: white;
        font-weight: 600;
        font-size: 20px;
        width: 100%;
        margin-top: 30px;
    }

.add-product-photo, .add-gallery-photo, .add-project-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-photo-list, .add-gallery-list {
    margin-bottom: 30px;
    background-color: #F7F7F8;
    border-radius: 16px;
    display: flex;
    max-height: 150px;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px 15px;
    overflow-y: scroll;
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: #0a4f7d #F7F7F8;
}

.add-photo-item {
    position: relative;
    width: calc((100% - 32px)/5);
    aspect-ratio: 1/1 !important;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0a4f7d;
}

    .add-photo-item img {
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
    }

    .add-photo-item::after
    .add-photo-item:hover::after {
        opacity: 1;
        transition: .3s;
    }

.dlt-photo {
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: -8px;
    right: -8px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-item {
    display: flex;
    width: calc((100% - 160px)/5);
    aspect-ratio: 3/4;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

    .gallery-item img {
        height: 100%;
    }

.gallery-modal {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: #001929f2;
}

    .gallery-modal img {
        max-width: 53%;
        max-height: 61%;
    }

    .gallery-modal button {
        color: white;
        display: flex;
        padding: 24px;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        background-color: transparent;
        border: none;
        position: absolute;
        transition: 0.3s;
    }

        .gallery-modal button:hover {
            background: rgba(248, 250, 252, 0.17);
            transition: 0.3s;
        }
    /*        body{
            overflow: hidden;
        }*/


    .gallery-modal .close-modal {
        top: 30px;
        right: 30px;
    }

    .gallery-modal .modal-prev, .gallery-modal .modal-next {
        top: 50%;
        transform: translateY(-50%)
    }

    .gallery-modal .modal-next {
        right: 30px;
    }

    .gallery-modal .modal-prev {
        left: 30px;
    }

.about-page .about-item {
    margin-bottom: 32px;
}

    .about-page .about-item h3 {
        margin-bottom: 8px;
    }

.about-page .filter-item span {
    max-width: 150px;
    text-overflow: ellipsis; /* Показать троиточия */
    overflow: hidden; /* Скрыть переполнение */
    white-space: nowrap; /* Запретить перенос строк */
}

.filter-item {
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        padding: 0 16px;
        width: 100%;
    }

    nav {
        position: absolute;
        padding: 16px 0 0;
    }

    .nav-scrolled {
        background-color: transparent;
        box-shadow: unset;
    }

    .nav-menu {
        position: absolute;
        display: none;
    }

    .nav-right {
        position: absolute;
        display: none;
    }

    .nav-right-media {
        display: flex;
    }

    header {
        padding: 78px 16px 16px;
        width: 100%;
    }

    .header-box {
        box-shadow: 0px 18px 34px 0px rgba(0, 89, 148, 0.20);
        border-radius: 16px;
        overflow: hidden;
        aspect-ratio: 2/1 !important;
    }

    header .navigation {
        width: 15px;
        right: 20px;
        font-size: 13px;
    }

    header .swiper-button-next::after, header .swiper-button-prev::after {
        font-size: 16px;
    }

    header .swiper-button-next, header .swiper-button-prev {
        margin: -15px 0;
    }

    header .navigation-item {
        margin: 10px 0;
        height: 60px;
    }

    .about {
        padding: 0 0 32px;
    }

        .about .container {
            gap: 16px;
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

    .about-left {
        width: 100%;
        text-align: center;
    }

        .about-left h2 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .about-left p {
            font-size: 14px;
        }

    .about-right {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

        .about-right .ellipse {
            position: unset;
            width: 49%;
        }

        .about-right .person-with-vr {
            width: 63%;
            top: 10px;
            left: 52%;
            transform: translateX(-50%)
        }

    .sliders .title h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .sliders .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: unset;
    }

    .home-products {
        padding-top: 0;
    }

        .home-products .bottom {
            display: none;
        }

    .bottom-media {
        display: block;
    }

        .bottom-media .gallery-item {
            width: 100%;
            margin-top: 20px;
        }



    .product-card {
        margin-top: 20px;
        width: 100%;
    }

        .product-card .card-image {
            aspect-ratio: 3/2;
        }

        .product-card:hover {
            transform: unset;
        }

    /* PARTNERS */
    .home-partners {
        margin: 48px 0 0;
    }

    .bank-partners {
        margin: 0 0 36px;
    }

    .home-partners .swiper-wrapper {
        padding: 0;
    }

    .home-partners .swiper-slide {
        padding: 20px 35px;
    }

        .home-partners .swiper-slide img:last-of-type {
            top: 20px;
            left: 35px;
        }
    /* PARTNERS END */
    /* home-contacts */

    .home-contacts {
        padding: 0 16px 16px;
        width: 100%;
    }

        .home-contacts .container {
            padding: 0;
        }

    .home-contacts-box {
        padding: 32px;
        border-radius: 20px;
    }

    .home-contacts .title {
        margin-bottom: 40px;
    }

    .home-contacts .bottom {
        width: 100%;
        flex-wrap: wrap;
    }

    .home-contacts .item {
        width: 100%;
    }


    .home-contacts iframe {
        aspect-ratio: 5/3;
        border-radius: 20px;
    }

    /* home-contacts end */

    /* FOOTER */

    footer .top {
        padding: 32px 0;
        text-align: center;
    }

    footer .container {
        flex-wrap: wrap;
    }

    footer .left,
    footer .right {
        width: 100%;
        padding: 0;
        font-size: 14px;
    }

    footer h3 {
        padding: 40px 20px 20px;
    }

    footer .right {
        flex-wrap: wrap;
    }

        footer .right .item {
            width: 100%;
        }

    footer .icons {
        justify-content: center;
        padding: 0;
        margin: 30px 0 0 !important;
    }

    footer .bottom {
        font-size: 12px;
        padding: 20px 20px 98px;
    }

    /* FOOTER END */

    .media-menu {
        z-index: 100;
        position: fixed;
        bottom: 16px;
        left: 16px;
        right: 16px;
        display: flex;
        padding: 0px 32px;
        align-items: center;
        justify-content: space-between;
        border-radius: 16px;
        background: #FFF;
        box-shadow: 0px 4px 28px 0px rgba(114, 149, 173, 0.08);
    }

        .media-menu a {
            display: block;
            padding: 16px 4px;
            overflow: hidden;
            position: relative;
            color: #C2CACF;
            
        }
            .media-menu a svg{
                width: 27px;
                height: 26px;
            }

            .media-menu a .second-svg {
                display: none;
            }

    .media-menu-active svg {
        color: #22C3F3 !important;
    }

    .media-menu-active .second-svg {
        display: inline-block !important;
    }

    .media-menu-active .first-svg {
        display: none !important;
    }

    .media-menu-active::after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #22C3F3;
        position: absolute;
        bottom: -5px;
        transform: translateX(-50%);
        left: 50%;
    }
    /* PRODUCTS, SERVICES */
    .products,
    .projects,
    .services,
    .about-page,
    .gallery {
        padding: 94px 0 48px;
    }


        .products .bottom,
        .projects .bottom,
        .services .bottom,
        .gallery .bottom {
            display: none;
        }

        .about-page .bottom {
            padding: 0;
        }

        .products .box,
        .projects .box,
        .services .box {
            width: 100%;
        }

        .products .title h2,
        .projects .title h2,
        .about-page .title h2,
        .gallery .title h2 {
            margin: 20px 0;
        }

    .filter {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;
        margin-top: 20px;
    }

    .media-filter {
        align-items: center;
        gap: 20px;
        padding: 10px 0;
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .btn-gray {
        width: calc(50% - 10px);
        justify-content: center;
    }

    .products .media-filter button,
    .projects .media-filter button {
        width: 100%;
    }
    /* PRODUCTS, SERVICES END */
    /*  PRODUCT-INFO, CONTACTS */
    .product-info,
    .contacts {
        padding: 94px 0 48px;
    }

        .product-info .container,
        .contacts .container {
            flex-wrap: wrap;
        }

        .contacts .container {
            flex-direction: column-reverse;
        }

        .product-info .photos {
            width: 100%;
            aspect-ratio: unset;
            height: unset;
            padding: 20px 0;
            flex-wrap: wrap;
        }

        .product-info .big-photo {
            width: 100%;
            height: unset;
            aspect-ratio: 3 / 2;
        }

        .product-info .mini-photos {
            display: flex;
            padding: 10px 0 0;
            width: 100%;
            height: 120px;
            gap: 10px;
            overflow-y: unset;
            overflow-x: scroll;
        }

            .product-info .mini-photos .item {
                height: 100%;
                aspect-ratio: 2 / 3;
            }

                .product-info .mini-photos .item:not(:last-of-type) {
                    margin-bottom: 0;
                }

        .product-info .info {
            padding: 20px 0;
            width: 100%;
        }

        .product-info h1,
        .contacts h1 {
            font-size: 24px;
            margin-bottom: 24px;
        }

        .product-info p,
        .contacts p {
            margin-bottom: 24px;
        }

        .contacts .left {
            padding: 20px 0 0;
            width: 100%;
        }

        .contacts .right {
            width: 100%;
            padding: 20px 0;
            text-align: center;
        }

        .contacts .left iframe {
            aspect-ratio: 9/10;
            border-radius: 18px;
        }

        .contacts ul {
            gap: 32px;
        }

        .contacts li {
            padding: 0 32px;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
        }

            .contacts li .icon {
                width: 100%;
            }

            .contacts li h3 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .contacts li p, .contacts li a {
                color: #96A7B1;
                margin: 0;
            }

    /*LOGIN, ADD PRODUCT*/
    .login-box {
        width: 93%;
    }


    .login h2 {
        font-size: 35px;
    }

    .login-top {
        margin-top: 20px;
    }

    .login-bottom {
        padding: 40px;
    }

    .login h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .login p {
        font-size: 14px;
    }

    .login form {
        margin-top: 32px;
        gap: 10px;
    }

        .login form a {
            font-size: 14px;
        }
    /* MODAL */
    .modal-fon {
        z-index: 101;
    }

    .modal {
        width: 93%;
    }

    .dlt-modal h3 {
        margin: 20px 0 10px;
    }

    .modal .modal-btns {
        margin-top: 20px;
    }

    .modal .modal-title {
        margin-bottom: 20px;
    }

    .input-form {
        margin-bottom: 20px;
    }

        .input-form .form-item, .input-form select, .input-form .select-cat, .add-product-photo {
            font-size: 14px;
        }

        .input-form .placeholder {
            font-size: 14px;
        }

    .add-product {
        padding: 110px 0 64px;
    }

        .add-product h2 {
            font-size: 20px;
            margin-bottom: 20px;
        }

    .add-product-box {
        width: 93%;
        padding: 40px 30px;
    }

        .add-product-box button {
            margin-top: 20px;
            font-size: 18px;
        }

    .add-photo-list {
        margin-bottom: 20px;
    }

    .about-page .filter-item span {
        max-width: unset;
    }

    .gallery-modal img {
        max-width: 70%;
        max-height: 70%;
    }

    .gallery-modal button {
        padding: 12px;
        border-radius: 12px;
    }

    .gallery-modal .close-modal {
        top: 15px;
        right: 15px;
    }

    .gallery-modal .modal-next {
        right: 15px;
    }

    .gallery-modal .modal-prev {
        left: 15px;
    }
}
